[submodule "App-TobiiStreamEngine"]
	path = App-TobiiStreamEngine
	url = https://github.com/labstreaminglayer/App-TobiiStreamEngine.git
[submodule "App-LabRecorder"]
	path = App-LabRecorder
	url = https://github.com/labstreaminglayer/App-LabRecorder
[submodule "liblsl-Matlab"]
	path = liblsl-Matlab
	url = https://github.com/labstreaminglayer/liblsl-Matlab
